@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root{
    --bg-darkmode:#141F2F;
    --bg-ligthmode: #E3E7EE;

    --font-darkmode:#B7B7B7;
    --font-ligthmode:#263959;

    --item-darkmode:#25273C;
    --item-ligthmode:#F7F5F5;

    --check-darkmode:#182233;
    --check-ligthmode:#D1D5DB;

}
 
body{
    display: flex;
    justify-content: space-around;
    background-image: url(../images/header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-color: var(--bg-ligthmode);
    color: #FFF;
    font-family: 'Ubunto', sans-serif;
    margin: 0;
}
.container{
    margin-top: 230px;
    flex-grow: 0;

}
.header{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    flex-grow: 0;
}

.darkmode-toggle{
    width: 30px;
    height: 30px;
    background-image: url(../images/moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 0;
}
input[type=text]{
    padding: 20px 10px;
    font-size: 22px;
    width: calc(100% - 20px);
    border: none;
    margin-bottom: 40px;
    background-color: var(--bg-ligthmode);
}

.item{
    display: flex;
    align-items: center;
    background-color: var(--item-ligthmode);
    color: var(--font-ligthmode);
    padding:10px;
    height: 45px;
    font-size: 22px;
    border-bottom: solid 1px #D1D5DB;
}

input[type=checkbox]{
    width: 30px;
    height: 30px;
    margin: 20px;
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: var(--check-ligthmode);
}

input[type=checkbox]:checked:before{
    background-color: #1E80EF;
}

input[type=checkbox]:checked:after{
    content: "";
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    top: 3px;
    left: 9px;
}
.item-checked{
    text-decoration: line-through;
}

.footer{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--item-ligthmode);
    color: var(--font-ligthmode);
    padding: 20px 10px;
    font-size: 14px;
    gap: 15px;
}

.footer div{
    margin: 0 5px;
}

.footer a{
    margin: 0 5px;
    text-decoration: none;
    color: var(--font-ligthmode);
}

.footer a:hover{
    color: #8ac2fe;
}
.footer a.active{
    color: #116acc;
}

body.darkmode{
    background-color: var(--bg-darkmode);
}

.darkmode .darkmode-toggle{
    background-image: url(../images/sun.svg);
}

.darkmode input[type=text]{
    background-color: var(--bg-darkmode);
    color: var(--font-darkmode);
}

.darkmode .item{
    background-color: var(--item-darkmode);
    color: var(--font-darkmode);
}

.darkmode input[type=checkbox]:before{
    background-color: var(--check-darkmode);
}

.darkmode .footer{
    background-color: var(--item-darkmode);
    color: var(--font-darkmode);
}

.footer a{
    color: var(--font-darkmode);
}

input[type=checkbox]:checked:before{
    background-color: #1E80EF;
}

@media (max-width: 600px) {
    .container{
        margin-top:150px ;
        width: 90%;
    }

    .footer {
        padding: 10px 0;
        font-size: 10px;
        gap: 5px;
    }
}
